upstream backend {
    {% for host in groups['webservers'] %}
    server {{ hostvars[host].ansible_eth1.ipv4.address }};
    {% endfor %}
}

server {
    listen        80;
    server_name   example.com *.example.com;
    location / {
        proxy_pass         http://backend;
    }
}
