{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DataGreenHRApplicationContext": "Server={{ db_address }};Database=DataGreenDB;Uid={{ db_user['username'] }};Pwd={{ db_user['password'] }};"
  }
}